option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app_on_the_go:app
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: "production"
    FLASK_HOST: "0.0.0.0"
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 10
  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    UpperThreshold: 70
    LowerThreshold: 20
  aws:elb:healthcheck:
    HealthyThreshold: 3
    Interval: 30
    Timeout: 5
    UnhealthyThreshold: 5
